body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Times New Roman', Times, serif, Verdana, sans-serif;
    color: white;
    background: black;
}

.titulo{
    margin-top: 0;
    padding-top: 10px;
    color:black;
    font-size: 30px;
    text-align: center;
}

.contenedorLista-espacios{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tituloContenidos , .titulo{
    font-size:20px;
    text-align: center;
}
.contenidos{
    border-bottom: solid 1px white ;
    font-size: 16px;
}

.imagen {
    width: 45%;
    height: 260px;
    border-radius: 30px;
}

.restaurant {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid 1px white ;
}
